:root {
  --main-bg-color: rgb(42, 42, 48);
  --accent-color: #44337a;
  --pattern-bg: rgb(235, 235, 235);
  --card-bg: rgb(245, 245, 245);
  --input-bg: #ffffff;
  --secondary-color: #ffc800;
  --accent-text: #805ad5;
  --accent-hover: #805ad5aa;
  --accent-text-color: #ffffff;
  --secondary-text-color: #000000;
  --accent-color-hover: rgba(68, 51, 122, 0.8);
  --secondary-color-hover: rgba(255, 200, 0, 0.8);
  --border-radius: 4px;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --font: "Nunito", sans-serif;
  --svg-bg: white;
  --gray-bg: var(--gray-400);
  --gray-text: var(--gray-600);
  --input-background: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='300px' height='300px' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round'><path fill='none' stroke='%231a202c' stroke-width='1' d='m 6,9 6,6 6,-6'/></svg>"),
    linear-gradient(to bottom, var(--card-bg) 0%, var(--card-bg) 100%);
  /* --list-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-checkbox' width='1.5em' height='2em' viewBox='0 0 24 24' stroke-width='1.5' stroke='%231a202c' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='9 11 12 14 20 6' /%3E%3Cpath d='M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9' /%3E%3C/svg%3E"); */

  --notification-list-padding: 0.5em 1em 0.5em 2.5em;
  --notification-header-padding: 1.5em 1em 0.5em 1.5em;
  --notification-header-margin: 1em -0.8em 0 -2.5em;
}
[data-theme="dark"] {
  --pattern-bg: rgb(24, 24, 30);
  --card-bg: rgb(42, 42, 48);
  --input-bg: rgb(62, 62, 48);
  --accent-text-color: #000000;
  --secondary-text-color: #ffffff;
  --accent-text: #ecc94b;
  --accent-hover: #ecc94baa;
  --svg-bg: rgb(42, 42, 48);
  --gray-bg: var(--gray-700);
  --gray-text: var(--gray-500);
  --input-background: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='300px' height='300px' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round'><path fill='none' stroke='%23f7fafc' stroke-width='1' d='m 6,9 6,6 6,-6'/></svg>"),
    linear-gradient(to bottom, var(--card-bg) 0%, var(--card-bg) 100%);
  /* --list-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-checkbox' width='1.5em' height='2em' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23f7fafc' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='9 11 12 14 20 6' /%3E%3Cpath d='M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9' /%3E%3C/svg%3E"); */
}

[dir="rtl"] {
  --notification-list-padding: 0.5em 2.5em 0.5em 1em;
  --notification-header-padding: 1.5em 1.5em 0.5em 1em;
  --notification-header-margin: 1em -2.5em 0 -0.8em;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--accent-color);
}
img,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  /* vertical-align: middle; */
}

html {
  /* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: var(--font);
  font-display: swap;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  line-height: 1.5;
  /* background-color: #545454; */
  color: var(--accent-color);
  font-size: 20px;
}
.closed {
  display: none;
}

h1 {
  /* font-size: 2em; */
  font-weight: 400;
  /* line-height: 1.2; */
  color: var(--secondary-color);
  font-size: 3.2em;
  margin-top: 0.5rem;
  line-height: 1em;
}
h1 > span {
  color: var(--accent-text);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.6em;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary-color);
}

input {
  font-family: var(--font);
  font-display: swap;
  background-color: var(--input-bg);
}

input[type="number"] {
  /* color: var(--pattern-bg); */
  color: var(--secondary-text-color);
  /* border-color: rgb(159,122,234); */
  line-height: 1.25;
  padding: 0.5rem;
  font-size: 1rem;
  width: 80px;
  -moz-appearance: textfield; /* Hide arrows for input number - Firefox */
  border-radius: var(--border-radius);
  background-color: var(--gray-bg);
}

/* Hide arrows for input number - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--accent-text);
  border-radius: var(--border-radius);
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  background: var(--accent-text);
  border-radius: var(--border-radius);
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--accent-hover);
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -10.5px;
  width: 28px;
  height: 28px;
  background: var(--pattern-bg);
  border: 4px solid var(--accent-text);
  border-radius: var(--border-radius);
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--pattern-bg);
  border: 4px solid var(--accent-text);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button {
  display: inline-block;
  border: none;
  padding: 0.375rem 0.75rem;
  margin: 0;
  text-decoration: none;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  color: var(--main-bg-color);
  font-family: var(--font);
  font-display: swap;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background-color: var(--secondary-color-hover);
}

button:focus {
  outline: 1px solid #fff;
  /* outline-offset: -4px; */
}

button:active {
  transform: scale(0.99);
}

.accent-text {
  color: var(--accent-color);
}

.secondary-text {
  color: var(--secondary-color);
}
.accent-bg {
  background-color: var(--accent-color);
}
.secondary-bg {
  background-color: var(--secondary-color);
}
.light-text {
  color: var(--gray-300);
}
.dark-text {
  color: var(--gray-900);
}
.pt-20 {
  padding-top: 4rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.p-0 {
  padding: 0;
}
.p-5 {
  padding: 1.25rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 1280px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.capitalize {
  text-transform: capitalize;
}

.brandName {
  line-height: 1;
}

nav {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--main-bg-color);
  height: 3.2em;
  font-weight: 300;
  padding: 0.4em 1em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  gap: 1em;
  align-items: center;
  font-size: 0.9em;
}

.rightLinks {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5em;
}

nav > a,
.rightLinks a:not(.bmc),
.iconButton {
  padding: 0.5em 0.8em;
}

.iconButton {
  background-color: transparent;
}

nav > a:hover,
.rightLinks a:hover,
.rightLinks a:focus,
.rightLinks a:active,
.iconButton:hover,
.iconButton:focus,
.iconButton:active {
  border-radius: var(--border-radius);
  background-color: var(--gray-800);
}

.logo,
.logoHome {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1em;
}

.logoHome {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
nav button {
  color: var(--secondary-color);
  background-color: transparent;
  padding: 0.25em;
}
nav button:hover {
  background-color: transparent;
}

[aria-current] {
  position: relative;
  display: inline-block;
}

[aria-current]::after {
  position: absolute;
  content: "";
  width: calc(100% - 1em);
  display: block;
  bottom: -1px;
}

nav a {
  text-decoration: none;
  /* padding: 1em 0.5em; */
  display: block;
  color: var(--secondary-color);
}

.logoOuter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 0.75em;
}

.gitHubIcon,
.bellIcon {
  position: relative;
  padding-right: 0.8em;
}
.bellIcon {
  padding-left: 0.8em;
  margin-left: -0.8em;
}

.starsCount,
.bellCount {
  position: absolute;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  top: -0.3em;
  right: 0;
  color: var(--main-bg-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 0.25em 0.25em 0.1em;
}

.bellCount {
  color: white;
  background-color: red;
  right: 0.9em;
}

@media (max-width: 1440px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .logoHome {
    padding-top: 2rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .bmc {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 640px;
  }
  nav {
    padding: 0.6em 0.5em;
  }

  .logo,
  .logoHome {
    justify-self: center;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
  .tweetNav {
    display: none;
  }
  .downloadsButton,
  .gitHubIcon {
    display: none;
  }
}

@media (max-width: 450px) {
  nav {
    padding: 0.3em 0.5em;
  }

  nav > a,
  .rightLinks a:not(.bmc),
  .iconButton {
    padding: 0.3em 0.8em;
  }
}

@media (max-width: 420px) {
  .brandName {
    display: none;
  }
}
