:root {
  --main-bg-color: #1a202c;
  --accent-color: #44337a;
  --secondary-color: #ffc800;
  --accent-text-color: #ffffff;
  --secondary-text-color: #000000;
  --accent-color-hover: rgba(68, 51, 122, 0.8);
  --secondary-color-hover: rgba(255, 200, 0, 0.8);
  --border-radius: 4px;
  --gray-300: #e2e8f0;
  --gray-400: #1a202c;
  --gray-500: #a0aec0;
  --gray-700: #1a202c;
  --gray-900: #1a202c;
  --font: "Nunito", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--accent-color);
}
img,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  /* vertical-align: middle; */
}

html {
  /* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: var(--font);
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  line-height: 1.5;
  /* background-color: #545454; */
  color: var(--accent-color);
  font-size: 20px;
}
.closed {
  display: none;
}

h1 {
  /* font-size: 2em; */
  font-weight: 400;
  /* line-height: 1.2; */
  color: var(--secondary-color);
  font-size: 3.2em;
  margin-top: 0.5rem;
  line-height: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.6em;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary-color);
}

input {
  font-family: var(--font);
  color: var(--main-bg-color);
}

input[type="number"] {
  color: var(--main-bg-color);
  /* border-color: rgb(159,122,234); */
  line-height: 1.25;
  padding: 0.5rem;
  font-size: 1rem;
  width: 80px;
  -moz-appearance: textfield; /* Hide arrows for input number - Firefox */
  border-radius: var(--border-radius);
}

/* Hide arrows for input number - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--secondary-color-hover);
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -10.5px;
  width: 28px;
  height: 28px;
  background: var(--main-bg-color);
  border: 4px solid var(--secondary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: var(--main-bg-color);
  border: 4px solid var(--secondary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  color: var(--main-bg-color);
  font-family: var(--font);
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background-color: var(--secondary-color-hover);
}

button:focus {
  outline: 1px solid #fff;
  /* outline-offset: -4px; */
}

button:active {
  transform: scale(0.99);
}

.accent-text {
  color: var(--accent-color);
}
.accent-bg {
  background-color: var(--accent-color);
}
.secondary-bg {
  background-color: var(--secondary-color);
}
.light-text {
  color: var(--gray-300);
}
.dark-text {
  color: var(--gray-900);
}
.pt-20 {
  padding-top: 4rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.p-0 {
  padding: 0;
}
.p-5 {
  padding: 1.25rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 1280px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

@media (max-width: 1440px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}







/*! Pickr 1.7.2 MIT | https://github.com/Simonwep/pickr */
.pickr {
  position: relative;
  overflow: visible;
  transform: translateY(0);
}
.pickr * {
  box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.pickr .pcr-button {
  position: relative;
  height: 3em;
  width: 3em;
  padding: 0.5em;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; */
  border-radius: 0.15em;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>')
    no-repeat 50%;
  background-size: 0;
  transition: all 0.3s;
}
.pickr .pcr-button:before {
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 0.5em;
  z-index: -1;
  z-index: auto;
}
.pickr .pcr-button:after,
.pickr .pcr-button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.15em;
}
.pickr .pcr-button:after {
  transition: background 0.3s;
  background: currentColor;
}
.pickr .pcr-button.clear {
  background-size: 70%;
}
.pickr .pcr-button.clear:before {
  opacity: 0;
}
.pickr .pcr-button.clear:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px currentColor;
}
.pickr .pcr-button.disabled {
  cursor: not-allowed;
}
.pcr-app *,
.pickr * {
  box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.pcr-app button.pcr-active,
.pcr-app button:focus,
.pcr-app input.pcr-active,
.pcr-app input:focus,
.pickr button.pcr-active,
.pickr button:focus,
.pickr input.pcr-active,
.pickr input:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px currentColor;
}
.pcr-app .pcr-palette,
.pcr-app .pcr-slider,
.pickr .pcr-palette,
.pickr .pcr-slider {
  transition: box-shadow 0.3s;
}
.pcr-app .pcr-palette:focus,
.pcr-app .pcr-slider:focus,
.pickr .pcr-palette:focus,
.pickr .pcr-slider:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px rgba(0, 0, 0, 0.25);
}
.pcr-app {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  border-radius: 0.1em;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
  font-family: inherit;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; */
  box-shadow: 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 1em 0 rgba(0, 0, 0, 0.03);
  left: 0;
  top: 0;
}
.pcr-app.visible {
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
}
.pcr-app .pcr-swatches {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75em;
}
.pcr-app .pcr-swatches.pcr-last {
  margin: 0;
}
@supports (display: grid) {
  .pcr-app .pcr-swatches {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 1.75em);
  }
}
.pcr-app .pcr-swatches > button {
  font-size: 1em;
  position: relative;
  width: calc(1.75em - 5px);
  height: calc(1.75em - 5px);
  border-radius: 0.15em;
  /* cursor: pointer; */
  padding: 0;
  margin: 2.5px;
  flex-shrink: 0;
  justify-self: center;
  transition: all 0.15s;
  overflow: hidden;
  background: transparent;
  z-index: 1;
}
.pcr-app .pcr-swatches > button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 6px;
  border-radius: 0.15em;
  z-index: -1;
}
.pcr-app .pcr-swatches > button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.15em;
  box-sizing: border-box;
}
.pcr-app .pcr-swatches > button:hover {
  -webkit-filter: brightness(1.05);
  filter: brightness(1.05);
}
.pcr-app .pcr-swatches > button:not(.pcr-active) {
  box-shadow: none;
}
.pcr-app .pcr-interaction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -0.2em;
}
.pcr-app .pcr-interaction > * {
  margin: 0 0.2em;
}
.pcr-app .pcr-interaction input {
  letter-spacing: 0.07em;
  font-size: 0.75em;
  text-align: center;
  cursor: pointer;
  color: #75797e;
  background: #f1f3f4;
  border-radius: 0.15em;
  transition: all 0.15s;
  padding: 0.45em 0.5em;
  margin-top: 0.75em;
}
.pcr-app .pcr-interaction input:hover {
  -webkit-filter: brightness(0.975);
  filter: brightness(0.975);
}
.pcr-app .pcr-interaction input:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px rgba(66, 133, 244, 0.75);
}
.pcr-app .pcr-interaction .pcr-result {
  color: #75797e;
  text-align: left;
  flex: 1 1 8em;
  min-width: 8em;
  width: 100%;
  transition: all 0.2s;
  border-radius: 0.15em;
  background: #f1f3f4;
  cursor: text;
}
.pcr-app .pcr-interaction .pcr-result::-moz-selection {
  background: #4285f4;
  color: #fff;
}
.pcr-app .pcr-interaction .pcr-result::selection {
  background: #4285f4;
  color: #fff;
}
.pcr-app .pcr-interaction .pcr-type.active {
  color: #fff;
  background: #4285f4;
}
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-save {
  width: auto;
  color: #fff;
}
.pcr-app .pcr-interaction .pcr-cancel:hover,
.pcr-app .pcr-interaction .pcr-clear:hover,
.pcr-app .pcr-interaction .pcr-save:hover {
  -webkit-filter: brightness(0.925);
  filter: brightness(0.925);
}
.pcr-app .pcr-interaction .pcr-save {
  background: #4285f4;
}
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear {
  background: #f44250;
}
.pcr-app .pcr-interaction .pcr-cancel:focus,
.pcr-app .pcr-interaction .pcr-clear:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px rgba(244, 66, 80, 0.75);
}
.pcr-interaction:first-child {
  width: 100%;
}

.pcr-interaction:not(:first-child) {
  flex: 1;
}
.pcr-app .pcr-selection .pcr-picker {
  position: absolute;
  height: 18px;
  width: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity,
.pcr-app .pcr-selection .pcr-color-palette {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  cursor: grab;
  cursor: -webkit-grab;
}
.pcr-app .pcr-selection .pcr-color-chooser:active,
.pcr-app .pcr-selection .pcr-color-opacity:active,
.pcr-app .pcr-selection .pcr-color-palette:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.pcr-app[data-theme="monolith"] {
  width: 14.25em;
  max-width: 95vw;
  padding: 0.8em;
}
.pcr-app[data-theme="monolith"] .pcr-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-preview {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-preview:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 0.5em;
  border-radius: 0.15em;
  z-index: -1;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-preview .pcr-last-color {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 0.15em 0 0 0.15em;
  z-index: 2;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-preview .pcr-current-color {
  border-radius: 0 0.15em 0.15em 0;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-preview .pcr-current-color,
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-preview .pcr-last-color {
  background: currentColor;
  width: 50%;
  height: 100%;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-palette {
  width: 100%;
  height: 8em;
  z-index: 1;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-palette .pcr-palette {
  border-radius: 0.15em;
  width: 100%;
  height: 100%;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-palette .pcr-palette:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 0.5em;
  border-radius: 0.15em;
  z-index: -1;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-chooser,
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-opacity {
  height: 0.5em;
  margin-top: 0.75em;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-opacity .pcr-picker {
  top: 50%;
  transform: translateY(-50%);
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-opacity .pcr-slider {
  flex-grow: 1;
  border-radius: 50em;
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-chooser .pcr-slider {
  background: linear-gradient(90deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red);
}
.pcr-app[data-theme="monolith"] .pcr-selection .pcr-color-opacity .pcr-slider {
  background: linear-gradient(90deg, transparent, #000),
    url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 100%, 0.25em;
}
